.Header{
    display: flex;

    justify-content: space-between;
    padding:3.5rem;
    align-items: center;

}
.Categories{
    display: flex;
    flex-direction: column;
    gap:.25rem;
}
.Categories span:nth-child(2){
    font-size: 2em;
    font-weight: bold;
    color:#024744;
}
.Explain{
    width:50%;
}

@media(max-width:431px){
    .Header{
        flex-direction: column;
        padding:1.5rem;
    }
    .Categories, .Explain{
        width:100%;
    }
    .Categories span:nth-child(2){
        font-size:1.5em ;
    }
    
}